/* ==========================================
   SEÇÃO DE CONTATO
   ========================================== */
.contato-principal {
  padding: 20px;
}

.contato-titulo {
  font-size: 2rem;
  color: var(--cor-verde-nutrimm);
  margin-bottom: 10px;
}

.contato-grade {
  display: grid;
  grid-template-columns: 2fr 1fr; /* Formulário maior que a lateral */
  gap: 40px;
  margin-top: 30px;
}

/* ==========================================
   FORMULÁRIO
   ========================================== */
.btn-whatsapp {
    height: 150px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #25D366; /* Verde oficial do WhatsApp */
    color: #ffffff;
    padding: 12px 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Efeito ao passar o mouse */
.btn-whatsapp:hover {
    background-color: #128C7E; /* Tom de verde mais escuro */
    transform: translateY(-3px); /* Eleva o botão levemente */
    box-shadow: 0 6px 20px rgba(18, 140, 126, 0.4);
    color: #ffffff;
}

/* Efeito ao clicar */
.btn-whatsapp:active {
    transform: translateY(-1px);
}



/* ==========================================
   LATERAL DE INFORMAÇÕES
   ========================================== */
.info-caixa {
  margin-bottom: 30px;
}

.info-caixa h3 {
  color: var(--cor-verde-nutrimm);
  margin-bottom: 10px;
}

/* ==========================================
   RESPONSIVIDADE
   ========================================== */
@media screen and (max-width: 480px) {
    
    .contato-info { 
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .info-caixa {
        width: 100%;
        text-align: center;
        margin-top: 30px;

    }
}
