/* ==========================================
   1. ESTRUTURA DA PÁGINA DE DICAS
   ========================================== */
.conteudo-dicas {
  padding: 10px 20px;
}

.titulo-principal {
  color: var(--cor-verde-nutrimm);
  font-size: 2rem;
  margin-bottom: 15px;
  border-left: 5px solid var(--cor-verde-nutrimm);
  padding-left: 15px;
}

.descricao-inicial {
  font-size: 1.1rem;
  margin-bottom: 30px;
  color: #555;
}

/* ==========================================
   2. ESTILO DA LISTA (10 PASSOS)
   ========================================== */
.lista-passos {
  background: var(--cor-fundo-suave);
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  font-size: 1.15rem; /* Substitui o antigo 19px */
}

.item-dica {
  margin-bottom: 20px;
  line-height: 1.6;
  color: var(--cor-texto-principal);
}

.item-dica strong {
  color: var(--cor-verde-nutrimm);
  display: inline-block;
  margin-right: 5px;
}

/* Efeito para destacar ao passar o mouse */
.item-dica:hover {
  color: #000;
  transition: 0.3s;
}

/*====== Cards =======*/
.fonte {
  color: var(--cor-verde-nutrimm);
  margin-bottom: 20px;
  border-left: 5px solid var(--cor-verde-nutrimm);
  padding-left: 15px;
}

.container-calculadoras {
  display: flex; /* O comando que coloca um do lado do outro */
  gap: 80px; /* O comando que dá espaço entre eles */
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 60px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 35px;
  gap: 20px;
  background: var(--cor-fundo-suave);
  padding: 30px;
  border: 3px solid var(--cor-verde-nutrimm);
  line-height: 0.5;
  border-radius: 10px;
  margin-bottom: 10px;
}
.card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  font-size: 1.2rem;
  background-color: #fcfcfc;
  transition: all 0.3s ease;
  box-sizing: border-box;
}
.botao-calcular {
  width: 100%;
  background-color: var(--cor-verde-nutrimm);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}
#resultado,
#Camporesultado {
  margin-top: 15px;
  font-weight: bold;
  color: #2e7d32;
  font-size: 1.2rem;
}

/*RESPONSIVIDADE CALCULADORA IMC E AGUA*/
@media screen and (max-width: 480px) {
  .container-calculadoras {
    /* Use o nome da sua classe aqui */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .card {
    width: 100%; /* Faz o card ocupar a largura disponível */
    max-width: 320px; /* Impede que ele fique largo demais */
    margin: 0 auto;
  }
}
