/* ==========================================
   1. TOPO DA PÁGINA (INTRODUÇÃO)
   ========================================== */
.conteudo-servicos {
  padding: 10px 20px;
}

.introducao-servicos {
  margin-bottom: 50px;
}

.titulo-pagina {
  font-size: 2.5rem;
  color: var(--cor-texto-principal);
  margin-bottom: 5px;
}

.subtitulo-pagina {
  font-size: 1.9rem;
  color: var(--cor-verde-nutrimm);
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.texto-informativo {
  font-size: 1.1rem;
  max-width: 800px;
  color: #666;
}

/* ==========================================
   2. GRADE DE CARTÕES (CARDS)
   ========================================== */
.grade-servicos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 40px 20px;
  background: var(--cor-fundo-suave);
  border-radius: 15px;
}

.cartao-servico {
  background: rgba(255, 255, 255, 0.795);
  padding: 40px 20px;
  border-radius: 12px;
  border-top: 8px solid var(--cor-verde-nutrimm);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.cartao-servico:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.cartao-servico h3 {
  font-family: "Montserrat", sans-serif;
  color: #222;
  margin-bottom: 15px;
  font-size: 1.3rem;
}

.cartao-servico p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.95rem;
  color: #555;
  line-height: 1.6;
}
.titulo-pagina {
  font-size: 2rem;
}

.plano h1 {
  margin-bottom: 40px;
  color: var(--cor-verde-nutrimm);
  display: flex;
  justify-content: center;
}

.plano nav {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.plano a {
  background: rgba(255, 255, 255, 0.795);
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 120px;
  border-top: 4px solid var(--cor-verde-nutrimm);
  border-bottom: 4px solid var(--cor-verde-nutrimm);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  width: fit-content;
}

.plano p {
  margin-top: 60px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}
.botao-contato {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  animation: pulse-animation 2s infinite;
  padding: 12px 30px;
  border-radius: 10px;
  border-top: 5px solid var(--cor-verde-nutrimm);
  border-bottom: 5px solid var(--cor-verde-nutrimm);
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: white;
  background: var(--fundo-botao);
  display: flex;
  justify-content: center;
}
@keyframes pulse-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.botao-contato:hover {
  transform: translateY(-3px);
  background-color: var(--cor-verde-nutrimm);
  filter: brightness(1.1);
}

.botao-contato:active {
  transform: translateY(-2px);
}
